
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
 */
/* Shared styles */
body{
    color: #FFF;
}

h2,h1{
    margin: 0;
}
.banner-title{
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    /* height: 600px; */
    border-radius: 16px;
}
.btn-primary{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    background: 0;
    text-transform: uppercase;
}
.the-best-gifts{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

 /* banner section */
.banner-main{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/background/Banner-Image.png');
    
    margin-top: 50px;
}
.banner{
    padding: 177px 344px;
    text-align: center;
}
.banner-sub-title{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* Discount section */
.discount{
    text-align: center;
    margin: 120px 158.1px 120px 159px;
}

.discount-title{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}
.holiday-dills-area-title{
    margin-top: 48px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.all-categories-title{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 16px 0 48px 0;
}

/* Welcome to midnight party */
.midnight-main{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./images/background/Vectorrr.png');
    
}
.midnight-party-container{
    display: flex;
    align-items: center;
    padding: 68.11px 138px 67.23px 126px;
    gap: 39.17px;
}
.midnight{
    text-align: left;
    max-width: 697px;
}
.midnight-party-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px
}
.midnight > button{
    margin: 48px 0 0 32px;
}

/* Place New Park Hotel section */
.new-park-hotel-main{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 120px;;
}
.new-park-hotel-address{
    padding: 100px 385px 110px 386px;
    text-align: center;
}
.address{
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
.new-park-hotel-titles{
    color: #070211;
}
.new-park-hotel-address > button{
    margin-top: 48px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
}

/*  */
.the-best-gifts-main{
    margin-top: 120px;
}
.our-awesome-portfolio-title{
    color: #070211;
    font-size: 48px;
}

.gift-items{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
